
.btn:focus {
  outline: none!important;
  box-shadow: none!important;
}

.offcanvas{
  overflow: hidden;
}

.side-div{
  min-height: 40px;
  cursor: pointer;
}

.side-div:hover{
  min-height: 40px;
  cursor: pointer;
  background-color: rgb(36, 36, 36);
}

.side-title{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  }

.side-subtitle{
  font-size: 14px;
  font-family: sans-serif;
}

.modal-open{
  padding: 0px!important;
}

.offcanvas {
  width: 20%; 

}

#post  {
  padding-top: 66px;
}




a{
  text-decoration: none;
  color: white;
}

a:hover{
  color:white;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

